.App {
  text-align: center;
}

body {
  background-image: radial-gradient(black, black, red);
}

img {
  width: 185px;
  height: 274px;
  border: 4px solid black;
}
#spacePlease {
  padding-bottom:10px;
}
.moviesImages:hover {
  outline: 7px solid red;
  outline-offset: -5px;
}

.netclips {
  color: red;
  border-bottom: 1px solid red;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  font-size: 70px;
  margin: 0;
  color: red;
  background: linear-gradient(-45deg, #000000, #231111, #3d0202, black);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  animation-name: groovy;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes groovy {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.N,
.e,
.t,
.c,
.l,
.i,
.p,
.s {
  position: relative;
  text-decoration: underline;
}

.e {
  top: -10px;
}

.t {
  top: -20px;
}

.c {
  top: -25px;
}

.l {
  top: -25px;
}

.i {
  top: -20px;
}

.p {
  top: -15px;
}

.tags {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  display: flex;
}

.genresCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  background-color: #a497b240 !important;
}

.genresPtag {
  border: 2px solid black;
  border-bottom: none;
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
  font-size: larger;
  overflow: hidden;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid black;
  background-color: black !important;
}

.detailsContainer {}

.detailsGridContainer {}

.detailsCardContainer {
  margin: auto;
  border: 0px solid black;
  background-color: #ffffffc9 !important;
  border-radius: 15px 15px 0px 0px !important;
}

.moviesCard {
  display: flex;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;

}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
  display: inline-block;
}

button {
  --glow-color: rgb(206, 96, 107);
  --glow-spread-color: rgba(241, 117, 135, 0.781);
  --enhanced-glow-color: rgb(155, 104, 107);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 20px !important;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: red !important;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
  color: white !important;
  background: rgb(71, 10, 10) !important;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  outline: 1px solid red;
}

button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}